<div class="container-fluid">
    <div class="row">
      <!-- Left sidebar -->
      <div class="col-3 sidebar bg-light">
        <nav class="nav flex-column">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Profile</a>
          <a class="nav-link" href="#">Settings</a>
          <a class="nav-link" href="#">Help</a>
          <a class="nav-link" href="#">Logout</a>
        </nav>
      </div>
  
      <!-- Main content area -->
      <div class="col-9 main-content">
        <router-outlet></router-outlet> <!-- Your main content will load here -->
      </div>
    </div>
  </div>