<div class="card login-card">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="login()">  
        <div class="d-flex justify-content-center align-items-center ">
            <img src="{{imageSrc}}" alt="avatar" class="login-image" />
          </div>
        <div class="row">
            <div class="col-12 text-center">
              <h1>Login</h1>
            </div>
          </div>
        <input formControlName="username" type="email" placeholder="Email" class="form-control mb-3 mt-2 " />
        <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="text-danger">
          Email is required and must be valid
        </div>
        <input formControlName="password" type="password" placeholder="Password" class="form-control mb-3" />
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
          Password is required (minimum length: 6)
        </div>
        <button class="btn btn-primary btn-block login-button mb-3" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
        <div class="text-center">
            <a href="/forgot-password" class="forgot-password d-block mb-2">Forgot Password?</a>
            <a href="/registration" class="new-user d-block">New User? Register here</a>
          </div>
      </form>

  </div>

